.checked {
    text-decoration: line-through;
    color:red;
}
.show {
    display:block;
}
.hide {
    display:none;
}
li {
    list-style-type:none;
}
.delete {
    color:red;
    margin-left:10px;
    display:inline-block;
}